*.o
*.obj
*.log
*.d
*.tmp
*.pdb
*.exe
tmp/

.idea/
.vscode/

__pycache__/
*.pyc
*.pyo

*.json1
*.edges
*.circles
*.bin
*.tsv

graph_datasets/*
ir_datasets/*

build/
build_dbg/
.venv/
logs/
*_logs/
*_res.txt

baseline/cuCollections/

venv/
hyperparamenter_solver/figure/
hyperparamenter_solver/res/
baseline/figure

*.txt
output/
docs/